
.navbar .ic-nav-open {
    display:flex;
    position:fixed;
    background:red;
    border-radius:50%;
    width:80px;
    height:80px;
    top:2rem;
    right:2rem;
    align-items: center;
    justify-content: center;
    z-index:9999;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.navbar .ic-nav-open:focus {
    transition:200ms;
    box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 33%) 0px 2px 1px, rgb(0 0 0 / 42%) 0px 4px 2px, rgb(0 0 0 / 38%) 0px 8px 4px, rgb(0 0 0 / 34%) 0px 16px 8px, rgb(0 0 0 / 9%) -2px 10px 16px !important;
}
.navbar .ic-nav-open svg {
    color:white;
}

.modal-nav-view {
    position:fixed;
    top:0;
    right:0;
    width:100vw;
    height:100vh;
    z-index: 99;
    opacity:0;
    transition: 500ms;
    pointer-events: none;
    
}

.modal-nav-view .bg-move {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
   
    z-index:100;
}
.modal-nav-view .bg-move span:nth-child(n) {
    width:100vw;
    background:var(--primary-color);
  /*   transform:translateX(100%); */
  /*   transform:scale(0,1); */
}
.modal-nav-view .bg-move span:nth-child(1) {
    position:relative;
    height: 80vh;
    transform-origin: right;
    display:block;
    border-bottom: 1px solid rgb(225,225,225,.3);
}
.modal-nav-view .bg-move span:nth-child(2) {
    position:relative;
    height: 20vh;
    transform-origin: left;
    display:block;
}
.modal-nav-view .detail {
    position:relative;
    z-index:999;
}
.modal-nav-view .detail .list-item {
    height:80vh;
}
.modal-nav-view .detail .info-company {
   
    height:20vh;

}
.modal-nav-view .detail .list-item .item-menu,
.modal-nav-view .detail .list-item .img
{
    
    height:100%;
    display:flex;
    overflow: hidden;
}
.modal-nav-view .detail .info-company .logo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    width: 100%;
    display: flex;
}
.modal-nav-view .detail .info-company .logo > a {
    display: block;
    height: fit-content;
    width: 100%;
    margin: auto;
}
.modal-nav-view .detail .info-company .info1 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row: 1;
    display: flex;
   
    align-self: center;
    flex-direction: column;
    width: 100%;
}
.modal-nav-view .detail .info-company .info2 {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row: 1;
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
}
.modal-nav-view .detail .info-company .info1 > span,
.modal-nav-view .detail .info-company .info2 > span {


    font-family: 'PoiretOne';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: left;
    color:whitesmoke;

}


.modal-nav-view .detail .list-item .item-menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 6;
    width: 100%;
    grid-row: 1;
    position: relative;
    z-index: 15;
}
.modal-nav-view .detail .list-item .item-menu a {
    display:flex;
    /* height:calc((65vh) / 5); */
    height: fit-content;
    align-items: center;
    overflow:hidden;
    cursor:pointer;
    margin: 1rem 0;
}
.modal-nav-view .detail .list-item .item-menu a p {
    font-family: 'NVNValky';
    font-size: 68px;
    font-weight: 400;
    color: white;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: left;
    height:fit-content;
    transform:translateY(100px);
    margin: 0;
}
.modal-nav-view .detail .list-item .img  {
    grid-column-start: 6 ;
    grid-column-end: 10 ;
    grid-row: 1;
    overflow:hidden;
    width:100%;
    height:79%;
    margin: auto;
}
.maskImg {
    position:relative;

    width:100%;
    height:100%;
   
    overflow:hidden;
}
 .maskImg:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(0,0,0,.5);
    z-index:11;
    
} 
.modal-nav-view .detail .list-item .img .maskImg img {
    width:100%;
    height:100%;
    display:block;
    z-index:10;

}