.hero .container .hero-inner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .hero .container .hero-inner .hero-inner-col.left {
    display: none;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-title {
    z-index: 11;
    position: relative;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-title h1 {
    margin: 0;
    font-weight: 400;
  }
  @media (min-width: 1800px) {
    .hero .container .hero-inner .hero-inner-col .hero-inner-title h1 {
      font-size: 28px;
   }
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links {
    z-index: 11;
    position: relative;
    display: flex;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item .hero-inner-link-item-padding {
    position: relative;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item .hero-inner-link-item-padding:before {
    content: "";
    display: block;
    position: absolute;
    top: -30vh;
    bottom: -30vh;
    left: 0;
    right: 0;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item a {
    padding: 12px 22px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: transparent;
    transition: color 0.3s, -webkit-text-stroke 0.3s;
    -webkit-text-stroke: 1px #000;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item a:hover {
    color: black;
    -webkit-text-stroke: 1px transparent;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item a span {
    line-height: 1.1;
    font-weight: 700;
    text-shadow: none;
    font-size: 5.8vw;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item:first-child a {
    padding-left: 0;
  }
  .hero .container .hero-inner .hero-inner-col .hero-inner-links .hero-inner-link-item:last-child a {
    padding-right: 0;
  }
  .hero .container .hero-inner-footer .hero-inner-footer-text p {
    font-size: 2.8rem;
    margin-top: -90px;
    width: 70%;
    line-height: 4.4rem;
  }
.cursor-test {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    contain: layout style size;
    pointer-events: none;
  }
  .cursor-test:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 70px;
    height: 7px;
    transform: scale(0.2);
    background: white;
   
  }
  /* cursor */
.cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    contain: layout style size;
    pointer-events: none;
  }
  .cursor.media-blend {
    z-index: 100;
    mix-blend-mode: exclusion;
  }
  .cursor.media-blend .cursor-media {
    filter: invert(1);
  }
  .cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0.2);
    background: white;
    border-radius: 50%;
  }
  .cursor .cursor-media {
    display: block;
    height: 350px;
    width: 350px;
   /*  background:green; */
    overflow: hidden;
    /* border-radius: 100%; */
    transform: scale(0);
    margin: -175px 0 0 -175px;
    position: relative;
  }
  .cursor .cursor-media video {
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  
  