:root {
    --numberColDeskop: 10;
    --numberColIpad: 7;
    --numberColPhone: 4;

}
.wrapper-grid10hook {
    position: relative;
    display: grid;
    width: calc(100vw - 100px); 
    margin-left:50px;
    grid-template-columns: repeat(var(--numberColDeskop), 1fr);
  
    gap:10px;
}
.wrapper-grid10 {
    position: fixed;
    width: calc(100vw - 100px); 
    margin-left:50px;
    height: 100vh;
    overflow: hidden;
   
    z-index: 999999;
    display: grid;
    grid-template-columns: repeat(var(--numberColDeskop), 1fr);
    grid-template-rows:100%;
    gap:10px;
    justify-content: space-evenly;  
   
    pointer-events:none;
 
}
.content {
    position: relative;
    background-color: brown;
    z-index: 99999;
    display: grid;
    grid-template-columns:repeat(10,1fr);
}
.wrapper-grid10 span {
    display:flex;
   /*  align-items: flex-end; */
    justify-content: center;
    border: 1px solid #fffff420;
    color:rgb(187, 184, 184);
    font-size: 2rem;
    opacity: 0.3;
  
}
.wrapper-grid10 span:hover {
    background: rgba(173, 216, 230, 0.819);
}

.step-config {
    padding: 0 0 200px 0;
}
.step-config  .img {
    overflow: hidden;
    z-index:5;
    
}
.step-config .img-behind:before {
    background: rgb(0,0,0,.72) !important;
}
.step-config  .img:hover img {
    transform:scale(1.042) rotate(0.42deg);
    -webkit-transition: all 420ms cubic-bezier(0.59, 0.32, 0.14, 0.53);
    transition: all 420ms cubic-bezier(0.59, 0.32, 0.14, 0.53);
}
.step-config  img {
    width:100%;
    height:auto;
    transform:rotate(0);
    -webkit-transition: all 350ms cubic-bezier(0.59, 0.32, 0.14, 0.53);
    transition: all 350ms cubic-bezier(0.59, 0.32, 0.14, 0.53);
}
.step-config .text {
    z-index:10;
    pointer-events: none;
}
.step-config .title{
    font-family: NVNValky;
    font-size: 48px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.step-config .des {
 
    font-family: PoiretOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.01em;
}
@media (max-width:1000px) {
    .wrapper-grid10 {   



        grid-template-columns: repeat(var(--numberColIpad),1fr)!important;
    }   
    .wrapper-grid10hook {   
        grid-template-columns: repeat(var(--numberColIpad),1fr)!important;
    }     
    
}
@media (max-width:567px) {

    
    .wrapper-grid10 {
        width: calc(100vw - 32px)!important;
        margin-left:16px!important;
        grid-template-columns: repeat(var(--numberColDeskop), 1fr)!important;
        gap:4.20px!important;


        grid-template-columns: repeat(var(--numberColPhone),1fr)!important;
    }    
    .wrapper-grid10hook {   
        width: calc(100vw - 32px)!important;
        margin-left:16px!important;
        grid-template-columns: repeat(var(--numberColDeskop), 1fr)!important;
        gap:4.20px!important;

        grid-template-columns: repeat(var(--numberColPhone),1fr)!important;
    }     

}
