/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */
/* ///////////////////////////////////////// */


/* SECTION HERO */
.section-hero {
    background: url('../asset/home/1.jpg');
    background-size: cover;
    z-index: 1;
    width: 100%;
    height: 172vh;
    overflow: hidden;
    position: relative;
}
.section-hero:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    z-index: 5;
}
.section-hero > div {
    position:relative;
    z-index: 10;
}
.section-hero .des {
    grid-row:1;
    grid-column-start: 1;
    grid-column-end: 6;
    font-family: Jose;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    margin:20vh 0 0 0;
  
    
}
.section-hero .tit {
    margin:5vh 0 0 0;
    grid-row:2;
    grid-column-start: 1;
    grid-column-end: 7;
    font-family: NVNValky;
    font-size: 100px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: left;
}

.section-hero .more {
    grid-row:3;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-template-columns: repeat(10,1fr);
    gap:10px;
}
.section-hero .more .logo-img {
    grid-column-start: 1;
    grid-column-end: 3;
}
.section-hero .more .logo-img img {
    width:100%;
    height:auto;
}
.section-hero .more ul {
    padding: 0;
    list-style: none;
    margin: 0;
    grid-column-start: 7;
    grid-column-end: 9;
}
.section-hero .more ul li {
    font-family: Jose;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 1rem;
}

/* SECTION SERVICES */

.section-services .tit {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 11;
    font-family: NVNValky;
    font-size: 100px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;

}
.section-services .tit h2 {
    margin: 150px 0 0 0;
}
.section-services .des {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    font-family: Jose;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
}

.services-part1 {
    grid-row:3;
    grid-column-start: 3;
    grid-column-end: 7;
}
.services-part2 {
    grid-row:4;
    grid-column-start: 7;
    grid-column-end: 11;
}
.services-part3 {
    grid-row:5;
    grid-column-start: 4;
    grid-column-end: 8;
}
.kip h2 {
    font-family: NVNValky;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
}
.kip p ,.kip ul  li{
    font-family: Jose;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    
}
.kip ul {
    list-style: none;
    padding-left:0;
   
    text-transform: uppercase;
}
.kip ul li {
    padding: 7px 0 0 0;
}
/* SECTION GALLERY */

.section-gallery .name-section {
    height:auto;
    grid-column-start: 1;
    grid-column-end: 11;
}

.section-gallery .tit {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 11;
    font-family: NVNValky;
    font-size: 100px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;


}
.section-gallery .tit h2 {
    margin:150px 0 0 0;
}
.section-gallery .des {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 11;
    font-family: Jose;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
}
.section-gallery .pul >div:nth-child(n) {
    margin: 2rem 0; 
}
.section-gallery  .box-img:nth-child(n) {
    background:rgba(0, 0, 255, 0.507);

}
.section-gallery  .box-img.brand1{
    position:relative;
    height:fit-content;
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 7;
}
.section-gallery  .box-img.brand1 .img {
    height:50vh;
    overflow: hidden;
}
.section-gallery  .box-img.brand2{
    position:relative;
    height:fit-content;
    grid-row: 3;
    grid-column-start: 8;
    grid-column-end: 11;
    top: 35vh;
}
.section-gallery  .box-img.brand2 .img {
    height:360px;
    overflow: hidden;
}
.section-gallery  .box-img.brand3{
    position:relative;
    height:fit-content;
    grid-row: 4;
    top: 10%;
    grid-column-start: 5;
    grid-column-end: 9;
}
.section-gallery  .box-img.brand4{
    position:relative;
    height:fit-content;
    grid-row: 5;
    top: -50%;
    grid-column-start: 1;
    grid-column-end: 4;
}
.section-gallery  .box-img.brand1 a {
    display: block;
   
  overflow: hidden;
}
.section-gallery  .box-img.brand1 img {
    width:100%;
    height:auto;
    border: 1px solid white;
    margin-top:-30%;
}


.section-gallery  .box-img.brand2 a {
    display: block;
  
  overflow: hidden;
}
.section-gallery  .box-img.brand2 img {
    width:100%;
    height:auto;
    border: 1px solid white;
    margin-top:-100px;
}

.section-gallery  .box-img.brand3 a {
    display: block;
  
  overflow: hidden;
}
.section-gallery  .box-img.brand3 img {
    width:100%;
    height:60vh;
}


.section-gallery  .box-img.brand4 a {
    display: block;
  
  overflow: hidden;
}
.section-gallery  .box-img.brand4 img {
    width:100%;
    height:50vh;
}



