.content-contacts-page {
    position: relative;
    width: calc(var(--maxW1440));
    margin: auto;
    height:calc(100vh - 15vh);
    padding: 0 8vw;
    display: flex;
    align-items: center;
  
}

.loop-holderrr {
    position: absolute;
    display: flex;
    white-space: nowrap;
    height: fit-content;
    overflow: hidden;
    top:0;
    margin-left:-200px;
}

.loop-holderrr * {
    font-family: 'NVNValky';
    font-size: 120px;
    font-style: italic;
    line-height: 100%;
    letter-spacing: 5px;


}
.content-contacts-page .info {
    position: relative;
    width: 60%;
    height: 100%;
}
.content-contacts-page .info .detail {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content-contacts-page .info .detail p.tit {
    font-family: 'Jose';
    font-size: 30px !important;
    width: 79%!important;
    line-height: 130%;
    margin :0;
}
.content-contacts-page .info .detail p{
 
    width: 60% ;
    font-family: Jose;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
}

.content-contacts-page .fake-div {
    position: relative;
    width: 40%;
    height: 100%;
}
.content-contacts-page .fake-div a:nth-child(1) {
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.content-contacts-page .fake-div > a {
   
    width: 100%;
    height: auto;
    background: url('../asset/gallery3.png');
    background-size: cover;
}
.content-contacts-page .info .banquyen {
    position: absolute;
    bottom: 0;
    left: 0;

    font-family: Jose;
font-size: 16px;
font-weight: 300;
line-height: 23px;
letter-spacing: 0em;
text-align: left;



}
.content-contacts-page .info .social {
    display:flex;
}
.content-contacts-page .info .social a {
    font-family: Jose;
font-size: 16px;
font-weight: 300;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
margin-right:32px;
}


.sendInfo {
    height:50px;
    width:100%;
    display:flex;
}
.sendInfo * {
    background:transparent;
    color:white;
}
.sendInfo input {
    border-bottom: 2px solid gray;
    border-top:none;
    border-left:none;
    border-right:none;
    width:70%;
}
.sendInfo input {
    padding-left:1rem;
    outline: none;
}
.sendInfo button {
    border:none;
    width:fit-content;
    padding:0 2rem;
    font-family: 'Jose';
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}
.sendInfo button:hover {
    background: red;
}
.detail-info {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.location {
    display: flex;
    padding-bottom: 20px;
}
.location .map {
    width: 40%;
    display:block;
 
}

.location ul.info  {
    list-style: none;
    width: 40%;
    margin:0;
    padding:0;
}
.location ul.info li {
    font-family: 'Jose';
    font-size: 16px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 1rem;

}
.location ul.info li.btn a {
    width: fit-content;
   text-transform: uppercase;

line-height: 32px;
letter-spacing: 0.05em;
text-align: left;
padding:0 0 10px 0;
border-bottom: 1px solid white;
}
