


.products_banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
}
.products_banner a {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.products_banner a  img {
    width:420px;
    height:auto;
}
.products_banner h2 {
    position: relative;
    display: block;
    margin: auto;

    font-family: NVNValky;
    font-size: 120px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.01em;

}

.products_banner-sub {
    position:relative;
    width:var(--maxW);
    margin: 0 auto;
   
    padding-bottom: 30vh;
}
.products_banner-sub a.sub {
    display: flex;
    align-items: center;
    max-width: 50vw;
    font-family: NVNValky;
    font-size: 42px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    height:50vh;
}

.products_banner-sub a.sub-next {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
    font-family: NVNValky;
    font-size: 42px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    height:70vh;
  
}
.products_banner-sub a.sub-next a {
    display:flex;
    position:relative;
    height:100%;
    align-items: center;
}
.products_banner-sub a.sub-next svg {
    position:absolute;
    width:200px;
    left:50%;
    top:65%;
    transform:translate(-50%,-50%);
}


/* step products */
/* config step products */
.wrapper-step-product {
    width: 100%;
    height: auto;
 
}
.step1-products ,
.step2-products ,
.step3-products ,
.step4-products ,
.step5-products  {
    margin: 30vh auto;
}
.step1-products .img,
.step2-products .img,
.step3-products .img,
.step4-products .img,
.step5-products .img {
    position: relative;
    height:80vh;
    overflow: hidden;
}
.step1-products .text,
.step2-products .text,
.step3-products .text,
.step4-products .text,
.step5-products .text {
    max-width: calc(var(--maxW1440) / 2);
    position: absolute;
    height: fit-content;
}

.step1-products .title,
.step2-products .title,
.step3-products .title,
.step4-products .title,
.step5-products .title {
    font-family: NVNValky;
    font-size: 105px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.01em;
 
}
.step1-products .des,
.step2-products .des,
.step3-products .des,
.step4-products .des,
.step5-products .des {
    padding: 32px 32px 0 64px;
    font-family: PoiretOne;
    font-size: 32px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.01em;
  

}
/* config each step */
/* step 1 */
.step1-products .img {
    grid-column-start: 1;
    grid-column-end: 4;
    height: fit-content;
}
.step1-products .text {

    top:65%;
    right:0;
    transform: translateY(-50%);
}
.step1-products .img img {
    width: 100%;
    height: auto;
    display: block;
}
.step1-products .title,.step1-products .des {
    text-align: left;
}
/* step 2 */
.step2-products .img {
    grid-column-start: 3;
    grid-column-end: 6;
    height: fit-content;
}
.step2-products .text {
    position: absolute;
    height: fit-content;
    top:45%;
    left:0;
    transform:translateY(-50%);
}

.step2-products .img img {
    width: 100%;
    height: auto;
    display: block;
}

.step2-products .title,.step2-products .des {
    text-align: right;
}
/*  step 3 */

.step3-products .img {
    grid-column-start: 1;
    grid-column-end: 4;
    height: fit-content;
}
.step3-products .text {
    position: absolute;
    height: fit-content;
    top:30%;
    right:0;
    transform:translateY(-50%);
}

.step3-products .img img {
    width: 100%;
    height: auto;
    display: block;
}

.step3-products .title,.step3-products .des {
    text-align: left;
}
/*  step 4 */
.step4-products .img {
    grid-column-start: 3;
    grid-column-end: 6;
    height: fit-content;
}
.step4-products .text {
    position: absolute;
    height: fit-content;
    top:40%;
    left:0;
    transform:translateY(-50%);
}

.step4-products .img img {
    width: 100%;
    height: auto;
    display: block;
}

.step4-products .title,.step4-products .des {
    text-align: right;
}
/*  step 5 */

.step5-products .img {
    grid-column-start: 2;
    grid-column-end: 4;
    height: fit-content;
    
  
}
.step5-products .text {
    position: absolute;
    height: fit-content;
    top:40%;
    right:0;
    transform:translateY(-50%);
}

.step5-products .img img {
    width: 100%;
    height: auto;
    display: block;
}

.step5-products .title,.step5-products .des {
    text-align: left;
}

/* config svg anime demo */

#svg-anime {
 
}
#hippo {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: .25px;
}
#path {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: .25px;
}
.box-trans {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: .25px;
 
}

#gr-svg-box .boxtrans:nth-child(1) {
    animation: rotation 1s;
    animation-delay: 0;
}
#gr-svg-box .boxtrans:nth-child(2) {
    animation: rotation 1s;
    animation-delay: 0.5;
}



@keyframes rotation {
    from { transform: rotate(0)}
    to {transform: rotate(360);}
}
