

@media (max-width:1000px) {
 /* ====================================== HOME PAGE =================================== */
 .section-hero .tit {
    font-size: 70px !important;
  }
  .services-part1,  .services-part2,  .services-part3 {
    grid-column-start: 1!important;
    grid-column-end: 5!important;

  }
  .section-services .tit,.section-gallery .tit {
    font-size: 70px !important;
  }
/* ====================================== END END END HOME PAGE =================================== */
    /* ====================================== NAVBAR =================================== */
    .modal-nav-view .detail .list-item .item-menu {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
    .modal-nav-view .detail .list-item .img {
        grid-column-start: 5 !important;
        grid-column-end: 8 !important;
    }
    /* ====================================== END END END NAVBAR =================================== */
   
    /* ====================================== CONTACT PAGE =================================== */
    
    .content-contacts-page .info {
        grid-column-start: 1 !important;
        grid-column-end: 6 !important;
    }
    .content-contacts-page .fake-div {
        grid-column-start: 5 !important;
        grid-column-end: 8 !important;
    }
    /* ====================================== END END END CONTACT PAGE =================================== */
       
    
    
    /* gallery redirect section */
    .gallery-togo .text-svg svg {
        width: 60vw !important;
    }
    /* contact section */
    .contact-section .info,.contact-section form {
        width: 100% !important;
    }
    .contact-section .detail form {
        min-height: 80% !important;
    }
    .contact-section .detail .info {
        height: 10% !important;
    }
    .contact-section .detail .info .gr-info {
        padding: 0!important;
        display: flex;
        justify-content: space-around;
    }
    .contact-section .detail .info span {
        font-size: 15px!important;
    }
    .contact-section .detail {
        flex-direction: column-reverse!important;
    }
    .contact-section .title {
        margin: 0 0 0 20px !important;
    }
    .contact-section .title h2  {
        font-size: 68px!important;
       
    }
    .contact-section .detail form > div:nth-child(1), .contact-section .detail form > div:nth-child(2), .contact-section .detail form > div:nth-child(3) {
        height:15% !important;
    }
    .contact-section .detail form > div:nth-child(4) {
        height:40% !important;
    }
    
    .loop-holder__text {
        font-size: 40px!important;
    }
    /* page deveploment products */
    .sample-dev--banner .text span {
        font-size: 100px !important;
    }
    .sample-dev--bannersub div.sub {
        max-width: 75vw !important;
    }
 

    .step-config .title{
        font-size: 56px !important;
        text-align: left !important;
    }
    .step-config .des {
        font-size: 20px !important;
        text-align: left !important;
    }
  

    .step1-sample_dev .img {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    
    }
    .step1-sample_dev .text {
        grid-column-start: 4 !important;
        grid-column-end: 8 !important;
    
    }
    .step2-sample_dev .img {
        grid-column-start: 1 !important;
        grid-column-end: 6 !important;
    }


    .step2-sample_dev .text {
        grid-column-start: 3 !important;
        grid-column-end: 7 !important;
    }
    .step2-sample_dev .detail ul li a {
        font-size: 22px !important;
        padding:0 !important;

    }
    .step3-sample_dev .img {
        grid-column-start: 3 !important;
        grid-column-end: 8 !important;
    }

    .step3-sample_dev .text {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }


    .step4-sample_dev .img {
        grid-column-start: 3 !important;
        grid-column-end: 7 !important;
    }
    .step4-sample_dev .text {
        grid-column-start: 2 !important;
        grid-column-end: 6 !important;
    }
    .step4-sample_dev .img-behind {
        height: fit-content!important;
        top: -316px!important;
    }
    .step4-sample_dev .img-behind img {
        width: 100% !important;
        height: auto !important;
    }


    /* page products */
 

    .products_banner-sub a.sub {
        max-width: 75vw !important;
    }
    .step1-products .img {
        grid-column-start: 3!important;
        grid-column-end: 8!important;
    }
    .step1-products .text {
        grid-column-start: 1!important;
        grid-column-end: 5!important;
    }
    .step2-products .img {
        grid-column-start: 2!important;
        grid-column-end: 6!important;
    
    }
    .step2-products .text {
        grid-column-start: 4!important;
        grid-column-end: 8!important;
    }
    .step3-products .img{
        grid-column-start: 1!important;
        grid-column-end:6!important;
        
    }
    .step3-products .text {
        grid-column-start: 4!important;
        grid-column-end: 8!important;
    }

    .step4-products .img {
        grid-column-start: 2!important;
        grid-column-end: 6!important;
    }
    .step4-products .text {
        grid-column-start: 4!important;
        grid-column-end: 8!important;
    }

}
@media (max-width:567px) {
/* CONTACT */
.location {
    padding: 0 !important;
}
.location .map {
    display:none !important;
}
.location ul.info {
    width: 100% !important;
}
.content-contacts-page .info .social {
    justify-content: center !important;
}
.content-contacts-page .info .detail p.tit {
    width: 100%  !important;
}
    .section-hero {
        height:auto !important;
    }
    .section-hero .des {
        font-size: 16px !important;
        line-height: 150%!important;
    }
    .section-hero .tit {
        font-size: 36px !important;
    }
    .section-services .tit,.section-gallery .tit {
        font-size: 36px !important;
    }
    .section-services .des,.section-services .des {
        font-size: 16px !important;
        line-height: 120%!important;
    }
    /* style global */
    .products_banner-sub {
        padding-bottom: 72px!important;
    }
    .step-config {
        padding: 0 0 72px 0 !important;
    }
    .products_banner span h2 {
        font-size:15vw  !important;
    }
    .products_banner .img {
        width: 70vw !important;
    height: 70vh !important;
    }
    .products_banner-sub div.sub {
        font-size: 36px !important;
        max-width: 80vw !important;
    }
    .products_banner-sub div.sub-next {
        font-size: 36px !important;
    }
    .products_banner-sub div.sub-next svg {
        width: 36vw!important;
    }
    .products_banner .img img {
        object-fit: none;
    object-position: right;
    }
    /* ====================================== NAVBAR =================================== */
    .modal-nav-view .detail .list-item .item-menu {
        grid-column-start: 1 !important;
        grid-column-end: 4 !important;
    }
    .modal-nav-view .detail .list-item .img {
        grid-column-start: 2 !important;
        grid-column-end: 5 !important;
    }
    .modal-nav-view .detail .list-item .item-menu a p {
        font-size: 48px !important;
    }

    /* ====================================== END END END NAVBAR =================================== */
   
       /* ====================================== CONTACT PAGE =================================== */
    .banquyen {
        text-align: center !important;
    }
    .contact-section .title h2 {
        font-size: 42px!important;
    }
       .content-contacts-page .info {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
    .content-contacts-page .fake-div {
        grid-column-start: 2 !important;
        grid-column-end: 5 !important;
    }
    /* ====================================== END END END CONTACT PAGE =================================== */
       

    /* config step-config // of sectiob step */
    .step-config .title{
        font-size: 36px !important;
        text-align: left !important;
    }
    .step-config .des {
        font-size: 15px !important;
        text-align: left !important;
    }
  
  /* PAGE SAMPLE DEV (STEP SECTION) */
    .wapper-step-dev_product .img-behind {
        display:none !important;
    }
    .step1-sample_dev .img {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;

    }
    .step1-sample_dev .text {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;

    }
    .step2-sample_dev .img {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }


    .step2-sample_dev .text {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
    .step2-sample_dev .detail ul li span {
        font-size: 20px !important;
        padding:5px 0 !important;

    }
    .step3-sample_dev .img {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }

    .step3-sample_dev .text {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }


    .step4-sample_dev .img {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
    .step4-sample_dev .text {
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
    .step4-sample_dev .img-behind {
        height: fit-content!important;
        top: -316px!important;
    }
    .step4-sample_dev .img-behind img {
        width: 100% !important;
        height: auto !important;
    }
 /* PAGE PRODUCT (STEP SECTION) */
 
    .step1-products .img {
        grid-column-start: 2!important;
        grid-column-end: 5!important;
    }
    .step1-products .text {
        grid-column-start: 1!important;
        grid-column-end: 4!important;
    }
    .step2-products .img {
        grid-column-start: 1!important;
        grid-column-end: 5!important;
        height: 50vh !important;
    }
    .step2-products .text {
        grid-column-start: 2!important;
        grid-column-end: 5!important;
    }
    .step3-products .img{
        grid-column-start: 1!important;
        grid-column-end:4!important;
        
    }
    .step3-products .text {
        grid-column-start: 2!important;
        grid-column-end: 5!important;
    }

    .step4-products .img {
        grid-column-start: 2!important;
        grid-column-end: 5!important;
    }
    .step4-products .text {
        grid-column-start: 1!important;
        grid-column-end: 4!important;
    }


 
}